---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -llvmlibc-*,
  -objc-*,
  -zircon-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-macro-usage,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -boost-use-ranges,
  -performance-enum-size,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -readability-identifier-naming,
  -bugprone-empty-catch,
  -cppcoreguidelines-pro-type-member-init,
  -hicpp-member-init

WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*/usr/)(?!.*/opt/).*$'
FormatStyle: 'file'

CheckOptions:
  - key: modernize-loop-convert.MaxCopySize
    value: '16'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
