---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -llvmlibc-*,
  -objc-*,
  -zircon-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-redundant-member-init,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-named-parameter,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-macro-usage,
  -hicpp-member-init,
  -hicpp-special-member-functions,
  -hicpp-deprecated-headers,
  -hicpp-use-equals-delete,
  -modernize-deprecated-headers,
  -modernize-use-equals-delete,
  -modernize-use-using,
  -cert-err58-cpp,
  -cert-dcl50-cpp,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-equals-default,
  -hicpp-use-equals-default,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-reserved-identifier,
  -boost-use-ranges,
  -misc-const-correctness,
  -performance-enum-size,
  -readability-function-cognitive-complexity

WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*/opt/homebrew/).*$'
FormatStyle: 'file'

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberSuffix
    value: '_'
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: '_'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: modernize-loop-convert.MaxCopySize
    value: '16'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-loop-convert.NamingStyle
    value: CamelCase
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
  - key: modernize-replace-auto-ptr.IncludeStyle
    value: llvm
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
